# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="sklullus"

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="dd/mm/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=({{ system.shell.ohmyzsh.plugins | join(" ") }})

# User configuration
{% for key, var in system.shell.env_vars.iteritems() %}
{% if var is string %}
export {{ key }}={{ var }}
{% elif var is sequence %}
export {{ key }}={{ var|join(":") }}
{% endif %}
{% endfor %}
# export GOROOT="/usr/lib/go"
# export GOPATH="${HOME}/dev/go:${GOROOT}"
# export PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:~/.cabal/bin:/home/skull/.xmonad/bin:/home/skull/Android/Sdk/platform-tools:${HOME}/dev/go/bin:${GOROOT}/bin:${HOME}/gradle-3.3/bin:${HOME}/bin"
# export MANPATH="/usr/local/man:$MANPATH"
# export WORKON_HOME=~/dev/envs

source $ZSH/oh-my-zsh.sh
# source /usr/share/virtualenvwrapper/virtualenvwrapper_lazy.sh

# You may need to manually set your language environment
#export LANGUAGE=en_GB.UTF-8
#export LANG=en_GB.UTF-8
#export LC_ALL=en_GB.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/dsa_id"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

{% for alias, command in system.shell.aliases.iteritems() %}
alias {{ alias }}='{{ command }}'
{% endfor %}

# alias dc=docker-compose
# alias dn=dotnet
# alias gpg=gpg2
# alias git=hub
# alias please=sudo
# alias npm-exec='PATH=$(npm bin):$PATH'

# eval "$(thefuck --alias)"

# added by travis gem
# [ -f /home/skull/.travis/travis.sh ] && source /home/skull/.travis/travis.sh

# export ANDROID_HOME=~/Android/Sdk
# export PATH=${PATH}:${ANDROID_HOME}/tools

# source <(kubectl completion zsh)
# source <(oc completion zsh)
# source <(helm completion zsh)

# PATH="/home/skull/perl5/bin${PATH:+:${PATH}}"; export PATH;
# PERL5LIB="/home/skull/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"; export PERL5LIB;
# PERL_LOCAL_LIB_ROOT="/home/skull/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}"; export PERL_LOCAL_LIB_ROOT;
# PERL_MB_OPT="--install_base \"/home/skull/perl5\""; export PERL_MB_OPT;
# PERL_MM_OPT="INSTALL_BASE=/home/skull/perl5"; export PERL_MM_OPT;

# function tree { mosquitto_pub -h mqtt.hacklab -t 'xmas/tree' -m $1; }
# function leds { mosquitto_pub -h mqtt.hacklab -t 'display/g1/leds' -m $1; }
# function lights { mosquitto_pub -h mqtt.hacklab -t 'dali/g1/preset/'$1 -n; }

# export PATH="$HOME/.cargo/bin:$PATH"
# . "/home/skull/.acme.sh/acme.sh.env"
